name: 'GitHub Actions BingPicApi'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 16 * * *'
jobs:
  Bing-spider:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          persist-credentials: true
      - name: 'Working'
        timeout-minutes: 350
        run: bash ./bing.sh
      - name: Commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add -A
          git commit -m "$(date)" -a
      - name: 'Push changes'
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.TOKEN }}
